.weather-box__temp {
    position: relative;
    display: block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    max-width: 35%;
    height: 20%;
    padding: 10px 20px;
    color: #FFF;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    .weather-box__temp {
        min-width: 45%;
        font-size: 52px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 400px) {
    .weather-box__temp {
        font-size: 40px;
        margin: 10px auto;
        max-width: 60%;
    }
}
